h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px
}

.jmandkids {
  float: right;
  margin-inline-start: auto;
}

.navigation {
  position: fixed;
}
.navigation {
  font-family: Arial, Helvetica, sans-serif;
}


.jmlogo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  padding-top: 30px;
}

img {
  max-height: 100px;
  padding-top: 60px;
}

body {
  background: rgb(182, 183, 183);
  width: auto;
}

h3 {
  color: rgb(0, 56, 0);
}

h2 {
  color: rgb(1, 1, 60);
}

h3 {
  margin-bottom: 0;
  margin: 0;
  padding-bottom: 0;
}
.navigation {
  background-color: black;
  width: 100%;
}

.navigation li {
  float: left;
  list-style: none;
  display: inline;
}

.navigation ul {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.navigation ul li a {
  color: lightgrey;
  text-decoration: none;
  padding: 10px;
}

.navigation ul li a:hover {
  color: chocolate;
}

.navigation {
  background-position-x: center;
}
